@charset "utf-8";
@import url(https: //fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans JP';
}



/* header */
header {
    padding: 10px 0;
    background: black;
    text-align: center;
    font-size: 1.1em;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    border-left: solid 1px #aaa;
    margin-left: 15px;
    padding-left: 15px;
}

header li:last-child {
    border-right: solid 1px #aaa;
    padding: 0 8px;
}

header a {
    color: white;

}

header a:hover {
    text-decoration: none;
    color: red;
}

/* title */
#title {
    width: 100%;
    background-color: #000;
}

#hoge {
    width: 100%;
    height: 40%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 30%;
    width: 100%;
    user-select: none;
}

.main-txt {
    text-align: center;
    font-size: 5vw;
    color: red;
}

.sub-txt {
    text-align: center;
    font-size: 3vw;
    color: white;
}

/* info */

#info {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 0;
    font-weight: bolder;
}

.red {
    color: red;
}


/* introduction */

#introduction {
    background: lightgray;
}

#introduction p {
    text-align: center;
    word-break: normal;
    font-size: 20px;
    ;
    padding: 80px 0;
    margin: 0 10%;
    line-height: 2.5;
}


/* guest DJ*/

#guestDJ {
    text-align: center;
}

.guest-intro {
    margin: 0 10%;
    margin-bottom: 60px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}


/* onkenDJ */

#onkenDJ {
    text-align: center;
}

.artist {
    margin-bottom: 50px;
    border-bottom: solid 3px #aaa;
}

.intro {
    margin: 0 10%;
    margin-bottom: 20px;
}

.name {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}


/* DJ */

.dj-icon {
    border-radius: 200px;
    height: 200px;
    width: 200px;
}

.url {
    margin-bottom: 15px;
}

.url > a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 0px 0 0;
    line-height: 48px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
}

.url > a i:before {
    margin: 0 0 0 0;
    display: inline-block;
    font-size: 20px;
    line-height: 40px;
}

.url > a i {
    vertical-align: top;
}

/* twitter */
.btn-tw {
    background: #1b95e0;
}

.btn-tw:hover {
    background: #2EA1E9;
}

/* mixcloud */
.btn-mc {
    background: #242c29;
}

.btn-mc:hover {
    background: rgb(67, 74, 71);
}

/* time-table */

#time-table {
    text-align: center;
    padding-top: 55px;
}

#time-table h4 {
    margin-top: 30px;
    background: black;
    color: white;
    padding: 15px 0;
}


/* DTM */

#DTM {
    background: #bcbcbc;
}

.cd-jacket {
    padding: 20px 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    overflow: hidden;
}

.dtm-h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 2vw;
}

.dtm-h3 {
    margin-top: 80px;
    text-align: center;
    padding-bottom: 20px;
}

table {
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.number {
    color: red;
    padding-right: 30px;
}

.track-title {
    text-align: left;
    font-size: 18px;
}

.fade-mix {
    margin: 20px 10px;
}

.movie {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 56.25%;
}

.movie iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
}

/* twitter */

.timeline {
    text-align: center;
}

.twitter-button {
    position: relative;
    display: inline-block;
    font-weight: bold;
    /*padding: 0.75em 0.75em;*/
    padding: 1.25em 1em;
    text-decoration: none;
    color: #FFF;
    background: #00bcd4;
    transition: .4s;
    width: 60%;
    text-align: center;
}

.sns {
    text-align: center;
}

.txt {
    margin: 40px 0 10px;
}

.un_7th {
    font-size: 45px;
}


/* access */

#access {
    background: lightgray;
    padding-bottom: 15px;
}

.adress {
    text-align: center;
}

.google-maps {
    position: relative;
    padding-bottom: 25%;
    /* これが縦横比 */
    height: 0;
    overflow: hidden;
    margin: 0 20%;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/* staff */
#staff {
    text-align: center;
}

.square {
    padding: 1.5em 1em;
    margin: 1em 0;
    border: solid 3px #000000;

}

/* caution */

#caution {
    text-align: center !important;
}

#caution ul {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#caution ul li {
    text-align: left;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}


/* footer*/

footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.534);
    color: white;
}


#guestDJ, #onkenDJ, #time-table, #DTM, #twitter, #access, #staff, #caution {
    padding: 50px 0;
}


/* width ~1600px*/

@media screen and (max-width: 1600px) {
    .google-maps {
        margin: 0 10%;
    }
}

@media screen and (max-width: 1300px) {
    #introduction p {
        text-align: center;
        word-break: normal;
        font-size: 2.3vw;
        padding: 80px 0;
        margin: 0 10%;
        line-height: 2.5;
    }
}

@media screen and (max-width: 1000px) {
    .guest-intro {
        margin: 0 10%;
        margin-bottom: 60px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .notice ul {
        margin-left: auto;
        margin-right: auto;
    }

    .dtm-h2 {
        text-align: center;
        margin: 20px 0;
        font-size: 1.75em;
    }

    .un_7th {
        font-size: 35px;
    }

    #introduction p {
        text-align: center;
        word-break: normal;
        font-size: 2vw;
        padding: 80px 0;
        margin: 0 10%;
        line-height: 2.5;
    }
}

@media screen and (max-width: 770px) {
    .info-col {
        padding: 25px 0;
    }

    .google-maps {
        position: relative;
        padding-bottom: 100%;
        /* これが縦横比 */
        height: 0;
        overflow: hidden;
        margin: 0 5%;
    }

}

@media screen and (max-width: 550px) {
    .google-maps {
        position: relative;
        padding-bottom: 100%;
        /* これが縦横比 */
        height: 0;
        overflow: hidden;
        margin: 0 2%;
    }

    .main-txt {
        font-size: 10vw;
    }

    .sub-txt {
        font-size: 5vw;
    }

    .dtm-h2 {
        text-align: center;
        margin: 20px 0;
        font-size: 2em;
    }

    .notice ul {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .dtm-h2 {
        text-align: center;
        margin: 20px 0;
        font-size: 5vw;
    }

    #introduction p {
        text-align: center;
        word-break: normal;
        font-size: 3.5vw;
        padding: 80px 0;
        margin: 0 5%;
        line-height: 2.5;
    }
}
