@charset "utf-8";
@import url(https: //fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans JP';
}


h2 {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 40%;
    background: linear-gradient(transparent 20%, #f39d9d 50%);
    margin-top: 50px;
}

/* header */
header {
    padding: 10px 0;
    background: black;
    text-align: center;
    font-size: 1.1em;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    border-left: solid 1px #aaa;
    margin-left: 10px;
    padding-left: 10px;
}

header li:last-child {
    border-right: solid 1px #aaa;
    padding: 0 8px;
}

header a {
    color: white;

}

header a:hover {
    text-decoration: none;
    color: red;
}

/* title */
.title {
    padding: 60px 0;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

/* main */
h1 {
    font-size: 3vw;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    background: linear-gradient(transparent 70%, #f39d9d 70%);
}

.red {
    color: red;
}

.txt {
    font-size: 20px;
    margin: 0 5%;
    margin-top: 100px;
}

.img-txt {
    text-align: right;
    font-size: 8px;
}

.google-maps {
    position: relative;
    padding-bottom: 30%;
    /* これが縦横比 */
    height: 0;
    overflow: hidden;
    margin: 0 20%;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/* 時刻表 */
.time-table {
    text-align: center;
}

.hour {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    background: #ff9191;
    font-weight: bold;
}

.bustt-title {
    font-size: 175%;
}

.bustt-subtitle {
    margin-bottom: 50px;
    font-size: 140%;
}

.min-l,
.min-r {
    padding: 0 20px;
}

tr {
    border-bottom: 3px dashed #ff9191;
    font-weight: bolder;
}

.min-l {
    text-align: right;
}

.min-r {
    text-align: left;
}

table {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 150px;
}


.parking-img {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

.route-img {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

a.btn {
    display: block;
    width: 250px;
    padding: 0.8em;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 3px solid red;
    border-radius: 3px;
    transform: .4s;
    margin-left: auto;
    margin-right: auto;
}

a.btn:hover {
    background: red;
    color: #fff;
}

.train,
.car {
    text-align: center;
    margin-top: 90px;
}

/* footer*/

footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.534);
    color: white;
    margin-top: 80px;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 3vw;
        margin-top: 80px;
        margin-bottom: 30px;

        background: linear-gradient(transparent 70%, #f39d9d 70%);
    }
}

@media screen and (max-width:800px) {
    h2 {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        width: 60%;
        background: linear-gradient(transparent 20%, #f39d9d 50%);
        margin-top: 50px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 4vw;
        margin-top: 80px;
        margin-bottom: 30px;

        background: linear-gradient(transparent 70%, #f39d9d 70%);
    }

    .route-img {
        text-align: center;
    }

    h2 {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        width: 80%;
        background: linear-gradient(transparent 20%, #f39d9d 50%);
        margin-top: 50px;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 5vw;
        margin-top: 80px;
        margin-bottom: 30px;
        background: liner-gradient(transparent 70%, #f39d9d 70%);
    }

    .parking-img {
        margin-left: auto;
        margin-right: auto;
    }

    .route-img {
        text-align: center;
    }
}
